__pycache__/
/output.sas
/sas_plan
/sas_plan.*
/builds/
/experiments/*/.venv/
/experiments/*/data/
/misc/.tox/
/misc/autodoc/downward-xmlrpc.secret
/src/cmake-build-debug
/.idea
/src/search/cmake-build-debug
/src/search/cmake-build-debug
perf.data
/dependencies
perf.data.old

AFFINITY_BASED_PACKING.md

INTPACKER_TASK_ACCESS.md

profiling/.python-version

profiling/profiling.py

profiling/pyproject.toml

profiling/sas_plan

profiling/uv.lock
